{% extends 'student/student_home.html' %}

{% block title %}我的收藏{% endblock %}

{% block info_active %}{% endblock %}
{% block my_collection_active %}active{% endblock %}
{% block thesis_active %}active{% endblock %}

{% block content_header %}我的收藏{% endblock %}
 

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>我收藏的教师</h4>
            </div>
            <div class="panel-body">
                {% for teacher in teacher_collectons %}
                    <h4>
                        <a href="{% url 'teacher_info' %}?publisher_pk={{ teacher.content_object.user.pk }}">
                            {{ teacher.content_object.name }}
                        </a>
                    </h4>
                    <p>剩余指导学生人数：{{ teacher.content_object.getRestNumber }}</p>
                    <p>剩余可选论文题数：{{ teacher.content_object.getRestThesisNum }}</p>
                    <a href="{% url 'cancel_collect' %}?content_type={{ teacher.content_type }}
                             &object_id={{ teacher.object_id }}" class="btn btn-danger">
                        取消收藏
                    </a>
                {% empty %}
                <div class="center">
                    <i class="fa fa-users fa-3x " aria-hidden="true"></i>
                    <p>暂未收藏</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3>我收藏的选题</h3>
            </div>
            <div class="panel-body">
                {% for thesis in thesis_collections %}
                    <h4><a href="{% url 'thesis_detail' thesis.content_object.pk %}">
                        {{ thesis.content_object.title }}</a>
                    </h4>
                    <p>{{ thesis.content_object.content|striptags|truncatechars:50 }}</p>
                    <a href="{% url 'cancel_collect' %}?content_type={{ thesis.content_type }}&object_id={{ thesis.object_id }}" class="btn btn-danger">
                        取消收藏
                    </a>
                {% empty %}
                <div class="center">
                    <i class="fa fa-book fa-3x " aria-hidden="true"></i>
                <p>暂未收藏</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
